<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor" style="color:#ced4da">Games</h4>
    </div>
</div>
<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <img class="card-img-top img-responsive" src="../../assets/Gorillas.png" style="min-heigth:150px" alt="Gorillas">
            <div class="card-body">
                <h4 class="card-title">Gorillas</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="/apps/gorilla" class="btn btn-primary">Play</a>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <img class="card-img-top img-responsive" src="../../assets/checkers.jpg" style="min-heigth:150px" alt="Checkers">
            <div class="card-body">
                <h4 class="card-title">Checkers</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="/apps/checkers" class="btn btn-primary">Play</a>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <img class="card-img-top img-responsive" src="../../assets/jogodavelha.jpg" style="min-heigth:150px" alt="Checkers">
            <div class="card-body">
                <h4 class="card-title">Jogo da Velha</h4>
                <p class="card-text">O jogo da velha ou jogo do galo ou três em linha é um jogo e passatempo popular. É um jogo de regras extremamente simples, que ...</p>
                <a href="/apps/jogodavelha" class="btn btn-primary">Play</a>
            </div>
        </div>
    </div>
    
</div>
