<div id="container">
  <div class="players">
    <div id="player_1" *ngIf="service.nextPlayer == 1" >
      Player 1
      <br/>
      <label for="player_1_angle">Angle:</label>
      <input id="player_1_angle" #player_1_angle maxlength="3"  [(ngModel)]="paramPlayer1.angle" (keyup.enter)="checkKey(1, 'A')">
      <br/>
      <label for="player_1_velocity">Velocity:</label>
      <input id="player_1_velocity" #player_1_velocity maxlength="3"  [(ngModel)]="paramPlayer1.velocity" (keyup.enter)="checkKey(1, 'V')">
    </div>
    <div id="player_2" *ngIf="service.nextPlayer == 2" >
      Player 2
      <br/>
      <label for="player_2_angle">Angle:</label>
      <input id="player_2_angle" #player_2_angle maxlength="3"  [(ngModel)]="paramPlayer2.angle" (keyup.enter)="checkKey(2, 'A')">
      <br/>
      <label for="player_2_velocity">Velocity:</label>
      <input id="player_2_velocity" #player_2_velocity maxlength="3"  [(ngModel)]="paramPlayer2.velocity" (keyup.enter)="checkKey(2, 'V')">
    </div>
  </div>
  <canvas id="canvas" width="640" height="350">
    <p>Browser does not support the canvas tag</p>
  </canvas>
</div>