<div id="container">
    <div class="row">
        <h3>Jogo da Velha</h3>
        <h6>Jogador: {{playerName}}</h6>
    </div>
    <div class="row">
        <div class="col-md-7 col-lg-7 col-xs-12">
            <div class="divGameMain">
                <!-- tela inicial -->
                <div class="principal" *ngIf="showInicio">
                    <button (click)="iniciarJogo()" class="botao">Iniciar</button>
                </div>
                <!-- fim tela inicial -->

                <!-- tabuleiro -->
                <div class="tabuleiro" *ngIf="showTabuleiro">
                    <ul>
                        <li class="kz-border-bottom kz-border-right" [class.kz-img-x]="exibirX(0,0)" [class.kz-img-o]="exibirO(0,0)"
                            [class.kz-cor-vitoria]="exibirVitoria(0,0)" (click)="jogar(0,0)"></li>

                        <li class="kz-border-bottom kz-border-right" [ngClass]="{'kz-img-x' : exibirX(0,1),
                                          'kz-img-o' : exibirO(0,1), 
                                          'kz-cor-vitoria' : exibirVitoria(0,1) }"
                            (click)="jogar(0,1)"></li>

                        <li class="kz-border-bottom" [ngClass]="{'kz-img-x':exibirX(0,2),
                                            'kz-img-o':exibirO(0,2),
                                            'kz-cor-vitoria' : exibirVitoria(0,2) }"
                            (click)="jogar(0,2)"></li>

                        <li class="kz-border-bottom kz-border-right" [ngClass]="{'kz-img-x':exibirX(1,0),
                                          'kz-img-o':exibirO(1,0),
                                          'kz-cor-vitoria' : exibirVitoria(1,0) }"
                            (click)="jogar(1,0)"></li>

                        <li class="kz-border-bottom kz-border-right" [ngClass]="{'kz-img-x':exibirX(1,1),
                                          'kz-img-o':exibirO(1,1),
                                          'kz-cor-vitoria' : exibirVitoria(1,1) }"
                            (click)="jogar(1,1)"></li>

                        <li class="kz-border-bottom" [ngClass]="{'kz-img-x':exibirX(1,2),
                                          'kz-img-o':exibirO(1,2),
                                          'kz-cor-vitoria' : exibirVitoria(1,2) }"
                            (click)="jogar(1,2)"></li>

                        <li class="kz-border-right" [ngClass]="{'kz-img-x':exibirX(2,0),
                                          'kz-img-o':exibirO(2,0),
                                          'kz-cor-vitoria' : exibirVitoria(2,0) }"
                            (click)="jogar(2,0)"></li>


                        <li class="kz-border-right" [ngClass]="{'kz-img-x':exibirX(2,1),
                                          'kz-img-o':exibirO(2,1),
                                          'kz-cor-vitoria' : exibirVitoria(2,1) }"
                            (click)="jogar(2,1)"></li>

                        <li [ngClass]="{'kz-img-x':exibirX(2,2),
                                              'kz-img-o':exibirO(2,2),
                                              'kz-cor-vitoria' : exibirVitoria(2,2) }"
                            (click)="jogar(2,2)"></li>
                    </ul>
                    <br />
                    <br />
                    <br />
                    <!-- <p *ngIf="myTurn">Vez do Jogador: {{playerName}}</p>
                    <p *ngIf="myRivalTurn">Vez do Jogador: {{playerNameRival}}</p> -->
                    <p *ngIf="jogador==1 && !showFinal">Lance jogador {{playerNameRival}} (X)</p>
                    <p *ngIf="jogador==2 && !showFinal">Lance jogador {{playerName}} (O)</p>
                </div>
            </div>
        </div>
        <div class="col-md-5 col-lg-5 col-xs-12 alinhamentoGame">
            <!-- <div class="InfoResult" *ngIf="showFinal"> -->
            <div class="InfoResult">
                <br>
                <span *ngIf="showFinal">
                    <p *ngIf="jogador==2">Vitória Jogador {{playerName}}</p>
                    <p *ngIf="jogador==1">Vitória Jogador {{playerNameRival}}</p>
                    <p *ngIf="jogador==0">O jogo terminou empatado</p>
                    <br>
                </span>
                <span>
                    <button class="botao" (click)="novoJogo()">Nova Partida</button>
                    <button class="botao botaoright" (click)="novoJogoZerar()">Novo Jogo</button>
                </span>
                <br><br>
                <span>
                    <p>Placar:</p>
                    <p>Jogador 1: {{placarPlayer1}}</p>
                    <p>Jogador 2: {{placarPlayer2}}</p>
                </span>
            </div>
        </div>
    </div>
</div>